.footer {
  height: 56px;
  background: #0b0f2b;
  color: #aaa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-size: 13px;
}

.links span {
  margin-left: 16px;
  cursor: pointer;
}
