.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: #0f172a;
  padding: 30px;
  border-radius: 20px;
  width: 500px;
  color: white;
}

.question {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 6px 0;
}

button {
  margin-top: 10px;
}
